<!DOCTYPE html>
<html lang="en"> 
<head>
	<title>{{post['title']}}</title> 
	<link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />   
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
	<link rel="icon" type="x-icon" href="../../static/images/icon2D.ico" />
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="../../static/assets/css/theme-1.css">
    

</head> 

<body>
    <style>
		/* body {
			font-family: Ubuntu;
		} */
		a {
			color:#0d4771
		}
		a:hover{
			color:#0d4771
		}
		li:hover{
			color:#0d4771;
			fill:#0d4771
		}
		i:hover{
			color:#0d4771;
			fill:#0d4771
		}
		.icon:hover {
			color: #0d4771;
			fill:#0d4771
		}
		button {
			background-color:#0d4771;
		}
		img {
			width:100%;
			margin-bottom:30px;
		}
	</style>
	<style>
		#my-navbar:hover {
			color:#0d4771;
		}
		#my-navbar a:hover {
			color:#0d4771;
		}
	</style>

	<div id = "my-navbar" class="navbar" style = "position: fixed;
    top: 0.1%;
    right: 3vw;
    list-style-type: none;
    color: white;
    display: flex;
    list-style: none;
    float: right;
	margin-right: 0vw;
	font-size:16.5px;
	font-family:Ubuntu;
  
    box-sizing: border-box;
    border-radius: 0vw;
    margin-top: 2px;
  
    background-color: rgb(25, 54, 67, 0.6);
    background-color: rgb(30, 30, 30, 0);
  
	-webkit-animation: fadein 3s;
	z-index: 999;">
		<a id = "a" href="/" style="text-decoration: none; color: black;">
		  <li id = "id" style="padding: 15px;
    padding-top: 1px;
	padding-bottom: 14px; 
	z-index: 999;">Home</li>
		</a>
		<a  id = "a" href="../../static/ArmendarizResume.pdf" target="_blank" style="text-decoration: none; color: black;">
		  <li id = "id" style="padding: 15px;
		  padding-top: 1px;
		  padding-bottom: 14px; ">Resume</li>
		</a>
		<a  id = "a" href="/projects" style="text-decoration: none; color: black;">
		  <li id = "id" style="padding: 15px;
		  padding-top:1px;
		  padding-bottom: 14px;">Projects</li>
		</a>
		<a  id = "a" href="/blog" style="text-decoration: none; color: black;">
			<li id = "id" style="padding: 15px;
			padding-top: 1px;
			padding-bottom: 14px;">Blog</li>
		  </a>
	
		<a id = "a"  href="/contact" style="text-decoration: none; color: black;">
		  <li id = "id" style="padding: 15px;
		  padding-top: 1px;
		  padding-bottom: 14px;">Contact</li>
		</a>
	</div>
    <header class="header text-center" style="background-Color: #0d4771">	            
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="../../static/assets/images/profile.png" alt="image" >			
					<h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">Hi</a></h1>
					<div class="bio mb-3">I have ideas sometimes, and I know how to program stuff, so I thought it would be cool to post about it on my own platform.</div>
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/jake-armendariz/"><i class="fab fa-linkedin-in fa-fw" style = "color:#0d4771;fill:#0d4771"></i> </i></a></li>
			            <li class="list-inline-item"><a href="https://github.com/jakearmendariz"><i class="fab fa-github-alt fa-fw"style = "color:#0d4771;fill:#0d4771"></i></i></a></li>
						<li class="list-inline-item"><a href="https://stackoverflow.com/users/10804139/jake-armendariz"><i class="fab fa-stack-overflow fa-fw" style = "color:#0d4771;fill:#0d4771"></i></i></a></li>
						<li class="list-inline-item"><a href="https://www.strava.com/athletes/41359451"><i class="fab fa-strava fa-fw" style = "color:#0d4771;fill:#0d4771"></i></i></a></li>
						
			        </ul>
			        <hr> 
				</div>
				
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item">
					    <a class="nav-link" href="/blog/"><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="/blog/post/66987222"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
					</li>
				</ul>
				
				<div class="my-2 my-md-3">
					
				    <a class="btn btn-primary" href="/contact" target="_blank">Get in Touch</a>
				    
				</div>
			</div>
		</nav>
	</header>
	
	<!-- <style>
		@media all and (min-width:960px) {
			.main-wrapper {
				margin-left:-30%; 
				width:140%
			}

			article {
				width:140%;
			}
			.blog-post-header {
				margin-left:-55%; width:130%;
			}

			.blog-post-body {
				margin-left:-55%; 
				width:130%
			}
		}
	</style> -->
    
    <div class="main-wrapper">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h1>{{post['title']}}</h1>
				    <div class="meta mb-3"><span class="date">{{post['date']}}</span><span class="time">{{post['reading_time']}} min read</span></div>
				</header>
				<figure class="blog-banner">
					<!-- <img class="img-fluid" src="{{post['image']}}" alt="image" style="width:100%; height:250px; object-fit: cover;"> -->
				</figure>
			    <div class="blog-post-body">
				    
					{{post['body']|safe}}
				    
				</div>
				<!-- <nav class="blog-nav nav nav-justified my-5">
					<a class="nav-link-prev nav-item nav-link rounded-left" href="index.html" style="background-Color: #0d4771">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
					<a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html" style="background-Color: #0d4771">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				  </nav> -->
		    </div><!--//container-->
		</article>
		
	    
	    <!-- <footer class="footer text-center py-2 theme-bg-dark">
		   
                <small class="copyright"><a href="http://themes.3rdwavemedia.com" target="_blank" style="text-decoration:none">Styles Credit</a><a href="/contact"> & Code and article written by Jake Armendariz</a></small>
		   
	    </footer> -->
    
    </div><!--//main-wrapper-->
    <!-- Javascript -->          
    <script src="../../static/assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="../../static/assets/plugins/popper.min.js"></script> 
    <script src="../../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    
    <!-- Page Specific JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <!-- Custom JS -->
    <script src="../../static/assets/js/blog.js"></script>

    

</body>
</html> 

