<html>
<head>
    <link rel="stylesheet" href="../static/css/projects.css" />
    <link rel="icon" type="x-icon" href="../static/images/icon2D.ico" />
    <title>Jake Armendariz- Projects</title>
    <link rel="stylesheet" href="../static/css/allsite.css" />

</head>

<body>
    <div class="navbar">
        <a href="/">
            <li>Home</li>
        </a>
        <a href="../static/ArmendarizResume.pdf" target="_blank">
            <li>Resume</li>
        </a>
        <a href="/projects">
            <li>Projects</li>
        </a>
        <a href="/blog">
            <li>Blog</li>
          </a>
        <a href="/contact">
            <li>Contact</li>
        </a>
    </div>
    <!-- <h4 class="Blank1"></h4> -->
    <h2 class="projectHead">
        Projects
    </h2>
    <hr align="left" style="border: 1px solid rgb(13, 71, 113); width:80%; margin-left:6vw;">
    <div class="projects">
        <div class="grid-item">
            <a href="/web-projects">
                <h1>Games and Animations</h1>
            </a>
            <p>Some games and animations that I have running on different servers, written in Rust, Javascript and Web Assembly.</p>

        </div>
        <div class="grid-item">
            <a href="/strava-activities">
                <h1>Strava API App</h1>
            </a>
            <p>Login to view extra data on your strava that you can't get on the app. If you don't have a strava or want to view my stats, click <a href = "/jakes-activities"><u>here</u></a></u></p>

        </div>
        <div class="grid-item">
            <a href="https://invisible.college/chat/" target="blank">
                <h1>BraidChat</h1>
            </a>
            <p>Building a server for a chat app using braidjs to sychronize message data. Added mobile and webpush notifications using nodejs, along with an expo app in typescript published to the google play store</p>
        </div>
        <div class="grid-item">
            <a href="/twitteranalysis">
                <h1>Twitter API App</h1>
            </a>
            <p>Embdedded within this website to retrieve information from twitter's REST API. Pulls information on users, twitter politician polls, and twitter sentiment analysis.</p>

        </div>
        <div class="grid-item">
            <a href="https://www.youtube.com/playlist?list=PLVcWYEH7PtatEcQz-HGKhDgWaAYpX3EWT">
                <h1>Snake AI</h1>
            </a>
            <p>The snake game, but an AI plays it. Built in Java-Processing using a slight modification of A* for
                pathfinding, a min-heap class
                for higher efficiency and ran on processing. If you'd like to see it in action, I created a youtube
                playlist displaying it, <a class="unedited"
                    href="https://www.youtube.com/playlist?list=PLVcWYEH7PtatEcQz-HGKhDgWaAYpX3EWT"
                    style="text-decoration: underline;">here</a>.</p>

        </div>
        <div class="grid-item">
            <a class="title" href=https://devpost.com/software/charity-cloud> <h1>Charity Cloud</h1>
            </a>
            <p>In the Santa Cruz 2020 hackathon my team created a website to allow users to find, research and donate to new charities. 
                We allow charities to add photos and posts if they want, or our team would add in basic information and statistics for users.</p>
        </div>
        <div class="grid-item">
            <a href="https://github.com/jakearmendariz/loadbalancer">
                <h1>HTTP Server and Load Balancer</h1>
            </a>
            <p>Engineered a multithreaded http server in C and a load balancer that will forward requests to different servers dependent on their load, error rate. 
                Its easy to make in python, but very difficult and very fun to make in a low level language like C.
            </p>
        </div>
        </div>
    </div>
    <footer>
        <a href="https://www.instagram.com/jake.armendariz/" target="_blank"><img src="../static/images/insta.png"
                class="app"></a>
        <a href="https://github.com/jakearmendariz" target="_blank"><img src="../static/images/github.png"
                class="app"></a>
        <img src="../static/images/icon.jpg" class="icon" />
        <a href="https://www.linkedin.com/in/jake-armendariz/" target="_blank"><img src="../static/images/linkedin.png"
                class="app"></a>
        <a href="https://open.spotify.com/user/svirl3jiigsae2f476alnlfgm" target="_blank"><img
                src="../static/images/spotify.png" class="app"></a>
    </footer>
    </div>
</body>

</html>