<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign up</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="../static/loginfonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/loginfonts/Linearicons-Free-v1.0.0/icon-font.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/logincss/util.css" />
    <link rel="stylesheet" type="text/css" href="../static/logincss/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <br />
    <a href="/" style="text-decoration:none;">&emsp; <u>back</u></a>

    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
          <form
            class="login100-form validate-form flex-sb flex-w"
            action=""
            method="POST"
            enctype="multipart/form-data"
            style="font-family:'Ubuntu', sans-serif;"
          >
            <span
              class="login100-form-title p-b-51"
              style="font-family:'Ubuntu', sans-serif;font-weight: 1500;"
            >
              <strong>Sign Up</strong>
            </span>

            <input type="file" name="file" accept="image/*" id="file" />

            <p>{{ exception }}</p>
            <div class="wrap-input100 validate-input m-b-16">
              <input
                class="input100"
                type="text"
                name="name"
                placeholder="Name"
                style="font-family:'Ubuntu', sans-serif;"
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Email is required"
            >
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="Email"
                style="font-family:'Ubuntu', sans-serif;"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
                title="Must be a valid email, idiot"
                required
              />

              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-16"
              data-validate="Password is required, idiot"
            >
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Password"
                style="font-family:'Ubuntu', sans-serif;"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Password must contain a number, uppercase and lowercase letters, and 8 or more characters"
                required
              />
              <span class="focus-input100"></span>
            </div>

            <div class="flex-sb-m w-full p-t-3 p-b-24">
              <div style="font-family:'Ubuntu', sans-serif;">
                Already a member?
                <a
                  href="/login"
                  class="txt1"
                  style="font-family:'Ubuntu', sans-serif;"
                >
                  Login
                </a>
              </div>
            </div>

            <div class="container-login100-form-btn m-t-17">
              <button
                class="login100-form-btn"
                href="/"
                type="submit"
                style="font-family:'Ubuntu', sans-serif;"
              >
                Sign Up
              </button>
              <div class="container-login100-form-btn m-t-17">
                <button
                  style="background-color:maroon"
                  class="login100-form-btn"
                  href="/index"
                  style="font-family:'Ubuntu', sans-serif;"
                >
                  Google
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="dropDownSelect1"></div>
  </body>
</html>
