<head>
    <title>My Activities</title>
    <script src="../static/js/strava_table.js"></script>
    <link rel="stylesheet" href="../static/css/activity_list.css" /> 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"rel="stylesheet"/>
    <script>
        function selectValue(){
            document.getElementById("selectbar").value = document.getElementById("selectValue").value
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="selectValue()">
    <h1>{{ name }}'s Strava Activites</h1>
    <input id = 'selectValue' style = "display:none;" value = {{ form['query'] }}>
    <form method="POST">
        <input style="display:none" name="refreshpage">
        <button>Refresh</button>
    </form>
    <form style="text-align: center;" method="POST">
        <select
            style=" float:center"
            name="query"
            width="150px"
            height="50"
            id="selectbar"
            style="
          font-family: Ubuntu;"
          >
            <option value="All">All</option>
            <option value="Runs">Runs</option>
            <option value="Rides">Rides</option>
            <option value="Swims">Swims</option>
        </select>&emsp;&emsp;
        Distance:<input placeholder="From" name="DistanceFrom" value = {{ form['DistanceFrom'] }}><input placeholder="To" name="DistanceTo"  value = {{ form['DistanceTo'] }}>&emsp;&emsp;
        Pace:<input placeholder="From" name="PaceFrom"  value = {{ form['PaceFrom'] }}><input placeholder="To" name="PaceTo"  value = {{ form['PaceTo'] }}>&emsp;&emsp;
        Date Range:<input placeholder="From" name="TimeFrom"  value = {{ form['TimeFrom'] }}><input placeholder="To" name="TimeTo"  value = {{ form['TimeTo'] }}>&emsp;&emsp;
        <Button>Submit</Button>
    </form>
    <br>
    <table  id = "table">
        <tr>
            <th id = "b0" onclick="quicksort(0)">Activity-id<i id = "a0" class="fa fa-sort-down" style="display:none"></i><i id = "a1" class="fa fa-sort-up" style="display:none"></i></th>
            <th id = "b1" onclick="quicksort(1)">Date<i id = "a2" class="fa fa-sort-down" style="display:none"></i><i id = "a3" class="fa fa-sort-up" style="display:none"></i></th>
            <th id = "b2" onclick="quicksort(2)">Name & Link to acitivty<i id = "a4" class="fa fa-sort-down" style="display:none"></i><i id = "a5" class="fa fa-sort-up" style="display:none"></i></th>
            <th id = "b3" onclick="quicksort(3)">Pace<i id = "a6" class="fa fa-sort-down" style="display:none"></i><i id = "a7" class="fa fa-sort-up" style="display:none"></i></th>
            <th id = "b4" onclick="quicksort(4)">Distance<i id = "a8" class="fa fa-sort-down" style="display:none"></i><i id = "a9" class="fa fa-sort-up" style="display:none"></i></th>
            <th id = "b5" onclick="quicksort(5)">Moving Time<i id = "a10" class="fa fa-sort-down" style="display:none"></i><i id = "a11" class="fa fa-sort-up" style="display:none"></i></tr>
        </tr>
        {% for activity in activities %}
            <tr>
                <td>{{activity['id']}}</td>
                <td>{{activity['date']}}</td>
                <td><a href="https://www.strava.com/activities/{{activity['id']}}" target="blank">{{activity['name']}}</a></td>
                <td>{{activity['pace_str']}}</td>
                <td>{{activity['distance']}}</td>
                <td>{{activity['moving_time']}}</td>
            </tr>
        {% endfor %}
    </table>
</body>