
<html>
    <head>
        <title>Strava API</title>
      <link
        href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
        rel="stylesheet"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="../static/css/strava.css" />
  <link rel="stylesheet" href="../static/css/chatbot.css" />
  <script>
      function updateHTML() {
        var value = document.getElementById("selectbar").value;
        console.log("update html from select bar");
        console.log(value);
        document.getElementById("submit").value = "submit"
        if (value == "select"){
          document.getElementById("submit").style.display = "none"
          document.getElementById("box").style.display = "none"
          document.getElementById("space").style.display = "none"

        }
        if(value == "Chat"){
          document.getElementById("box").style.display = "block"
          document.getElementById("submit").style.display = "none"
          document.getElementById("space").style.display = "none"


        }
        if (value === "Graph") {
          document.getElementById("box").style.display = "none"
          document.getElementById("submit").style.display = "inLine"
          document.getElementById("submit").value = "view"
          document.getElementById("space").style.display = "inLine"
        }
      }
      function selectValue(){
        document.getElementById("selectbar").selectedIndex = document.getElementById("selectValue").value;
        updateHTML()
      }
      function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
      }
    </script>
    </head>
  
    <body onload="selectValue()">
      <input id = 'selectValue' type = "number" style = "display:none;" value = {{selectValue}}>
      <a style="text-decoration:none; position:fixed; font-family: Ubuntu;" href="/projects">&emsp;<u>back</u></a>
      <div class="body">
        {% if loggedin %}
        <div class="login" style = "position:fixed;">
          <div class="dropdown" style="float:right;">
            <button class="dropbtn" style="color:black;">Profile</button>
            <div class="dropdown-content">
              <a href="/manageprofile">Manage Profile</a>
              <a href="/twitteranalysis">Twitter Analysis</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
        </div>
        {% else %}
        <a href="/login" class="login" style = "position:fixed;">
          <li>login</li>
        </a>
        {% endif %}
        <h1>Strava API Analysis</h1>
        <h2>{{full_name}}'s Strava Breakdown</h2>
  
  
        <div class="popup" onclick="myFunction()" style = "font-size:14px; margin-top:-30px; position:fixed;">What is this?
          <span class="popuptext" id="myPopup">A small twitter web application that allows users to view anyone's tweets in 'All posts', a analysis of a users twitter in 'twitter wrapped', and text analysis on any person or topic in twitter for an accurate segment of the population.</span>
        </div>
        <form action="" method="POST" >
          <label>Select An Operation</label>
          <br />
          <br />
          <select
            style=" float:center"
            name="query"
            width="150px"
            height="50"
            id="selectbar"
            onchange="updateHTML()"
            style="
          font-family: Ubuntu;"
          >
            <option value="select">Nothing</option>
            <option value="Chat">Strava QA Chatbot</option>
            <option value="Graph">View Activity Graphs</option>
          </select>
        
        <div id = "space">
        <br><br>
         </div>
          <button class = "submit" id = "submit">submit</button>
        
        </form>
        <div class = 'content'>
       
        <div class="boxed" id = "box" display="none">
          <div>
              <div id="chatbox">
                  <p class="botText">
                  <span>Hi! I am your personal strava chatbot. </span>
                  </p>
              </div>
              <div id="userInput">
                  <input id="textInput" type="text" name="msg" placeholder="Message" />
              </div>
          </div>
          <script>
          function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById("userInput").scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function (data) {
                var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                $("#chatbox").append(botHtml);
                document
                .getElementById("userInput")
                .scrollIntoView({ block: "start", behavior: "smooth" });
            });
            }

            $("#textInput").keypress(function (e) {
                if (e.which == 13) {
                    getBotResponse();
                }
            });
          </script>
      </div>
        
  
        {% if graphing %}
        {{graph|safe}}
        {{graph2|safe}}
        {% endif %}
      </div>
      </div>
    </body>
  </html>
  