<html>
<head>
    <link rel="stylesheet" href="../static/css/projects.css" />
    <link rel="icon" type="x-icon" href="../static/images/icon2D.ico" />
    <title>Jake Armendariz- Projects</title>
    <link rel="stylesheet" href="../static/css/allsite.css" />

</head>

<body>
    <div class="navbar">
        <a href="/">
            <li>Home</li>
        </a>
        <a href="../static/ArmendarizResume.pdf" target="_blank">
            <li>Resume</li>
        </a>
        <a href="/projects">
            <li>Projects</li>
        </a>
        <a href="/blog">
            <li>Blog</li>
          </a>
        <a href="/contact">
            <li>Contact</li>
        </a>
    </div>
    <!-- <h4 class="Blank1"></h4> -->
    <h2 class="projectHead">
        Games and Animations
    </h2>
    <hr align="left" style="border: 1px solid rgb(13, 71, 113); width:80%; margin-left:6vw;">
    <div class="projects">
        <div class="grid-item">
            <a href="/projects">
                <h1>Projects</h1>
            </a>
            <p>Back to the projects page</p>

        </div>
        <div class="grid-item">
            <a href="http://jakearmendariz.com:8080/">
                <h1>Multiplayer lightspeed</h1>
            </a>
            <p>Multiplayer Game written in Rust and Javascript. Play on the same team as your friends, and try to survive for as long as you can as astroids fly towards you.</p>

        </div>
        <div class="grid-item">
            <a href="/games/lightspeed/">
                <h1>Single Player Lightspeed</h1>
            </a>
            <p>Small game I created in p5.js in 2018, where you play as rocket, avoiding and shooting asteroids. I updated the game recently to save scores to the website database.
                Click the link above to play the game!
            </p>
        </div>
        <div class="grid-item">
            <a href="http://jakearmendariz.com:3030/">
                <h1>Game of Life with Web Assembly</h1>
            </a>
            <p>Game of Life is a cellular automaton simulation where cells of a grid live and die based on their neighbor count. The end result is pretty beautiful.</p>

        </div>
        <div class="grid-item">
            <a href="/games/snakers/">
                <h1>Snakers</h1>
            </a>
            <p>Based on the classic game, Snake. Its first game I ever made, written in Javascript.
            </p>
        </div>
        </div>
    </div>
    <footer style="position:absolute; bottom:0;">
        <a href="https://www.instagram.com/jake.armendariz/" target="_blank"><img src="../static/images/insta.png"
                class="app"></a>
        <a href="https://github.com/jakearmendariz" target="_blank"><img src="../static/images/github.png"
                class="app"></a>
        <img src="../static/images/icon.jpg" class="icon" />
        <a href="https://www.linkedin.com/in/jake-armendariz/" target="_blank"><img src="../static/images/linkedin.png"
                class="app"></a>
        <a href="https://open.spotify.com/user/svirl3jiigsae2f476alnlfgm" target="_blank"><img
                src="../static/images/spotify.png" class="app"></a>
    </footer>
    </div>
</body>

</html>